@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome</h1>
    <div>
        <h2>This is a simple app where you can create drafts and dreamteams from a list of players.</h2>
    </div>
    <div>
        <img src="./image.jpg" alt="Mohamed Salad"/>
    </div>
</div>
